<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
{% load static from staticfiles %}

    <title>Orderest</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'order/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'order/css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'order/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'order/css/main.css' %}" />

    <!-- google font -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Kreon:300,400,700'>

    <!-- js -->
    <script src="{% static 'order/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="120" >
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header visible-xs">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><h2>Orderest</h2></a>
            </div><!-- navbar-header -->
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                {% if request.session.user_name != None %}
                    <li><a href="/food_menu/">Food menu</a></li>
                    {% if request.session.order %}
                        <li><a href="/basket/" style="color: #eb9316">Your order ({{ request.session.order|length }})</a></li>
                    {% else %}
                        <li><a href="/basket/">Your order</a></li>
                    {% endif %}
                {% endif %}
                <li><a href="#" id="call_waiter">Call a waiter</a></li>
                {% if request.session.user_name != None %}
                <li><a href="#" id="call_waiter">Logged as {{ request.session.user_name }}</a></li>
                <li><a href="/logout/">Logout</a></li>
                {% endif %}
            </ul>
        </div><!--/.navbar-collapse -->
        </div><!-- container -->
    </div><!-- menu -->

    {% block content %}
    {% endblock %}

    <footer id="footer" class="dark-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <div class="row">
                <div class="col-sm-6">
                    IPM Project, Team: <br />
                    <span> Mateusz Bajko, Mateusz Gryc, Stiliyan Valeriev </span>
                </div>
                <div class="col-sm-6">
                    <div class="social-bar">
                        <a href="https://orderest.wordpress.com/" class="fa fa-book tooltipped" title=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="askWaiterPopup" class="modal fade" role="dialog">
              <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                          <div class="modal-header">
                              <button class="close" data-dismiss="modal">&times;</button>
                              <h3 class="modal-title" style="color: black">Wait for a waiter</h3>
                          </div>
                          <div class="modal-body">
                                <h4 style="color: black">Wait for a waiter</h4>
                          </div>
                          <div class="modal-footer">
                              <button data-dismiss="modal" class="btn btn-warning">OK</button>
                          </div>
                    </div>
              </div>
        </div>

        <!-- /.container -->
    </footer>

    <script src="{% static 'order/js/jquery-2.1.3.min.js' %}"> </script>
    <script src="{% static 'order/js/jquery.actual.min.js' %}"></script>
    <script src="{% static 'order/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'order/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'order/js/new.js' %}"></script>
</body>
</html>