{% extends 'order/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <script src="{% static 'order/js/jquery-2.1.3.min.js' %}"> </script>
    <script>
    $(document).ready(function() {
        $('#remove_product').click(function () {
            $('#confirmPopup').modal('show');
            var product_id = $(this).parent().siblings()[0].textContent;
            var product_name = $(this).parent().siblings()[1].textContent;
            var product_size = $(this).parent().siblings()[2].textContent;
            var product_quantity = $(this).parent().siblings()[4].textContent;
            $('#remove_item_id').val(product_id);
            $('#remove_item_name').text(product_quantity + " x " + product_name + " " + product_size);
        });
    });
    </script>
    <div id="food-menu" class="light-wrapper" xmlns="http://www.w3.org/1999/html">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Your order</h2>
            <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Product</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>

            {% for product in ordered_products %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.size }}</td>
                <td>{{ product.price_single }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price_sum }}</td>
                <td id="test"><i id="remove_product" class="fa fa-trash fa-1x" aria-hidden="true" style="cursor: pointer"></i></td>
              </tr>
            {% endfor %}

            </tbody>
            </table>
            <h1>TOTAL:</h1>
            <h3>{{ order_sum }} Euro</h3>
            {% if request.session.order %}
                <a class="btn btn-danger" href="/confirmed/">Confirm</a>
            {% else %}
                <a class="btn btn-default" href="/confirmed/" disabled>Confirm</a>
            {% endif %}


            <div id="confirmPopup" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Are you sure?</h4>
                      </div>
                      <div class="modal-body">
                          <p>Do your really want to remove <span id="remove_item_name" style="font-weight: bold;"></span> from the order?</p>
                        <form action="/remove/" method="post">
                            <input id="remove_item_id" type="text" name="remove_item_id" hidden/>
                      </div>
                      <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-warning">Remove</button>
                      </div>
                        </form>
                    </div>

                  </div>
                </div>

        </div>
        <!-- /.container -->
        <section class="ss-style-bottom"></section>
    </div><!--/#food-menu-->
{% endblock content %}