{% extends 'order/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div id="food-menu" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center" id="prodName" hidden>{{ product.name }}</h2>

            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images ">
                        <img src={{ product.get_image_path }} alt={{ product.name }}>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="menu-titles"><h1 class="">{{ product.name }}</h1></div>
                </div>
            </div>

            <div class="row">
                <div class="menu-titles"><h3 class="">Description</h3></div>
                <div>
                    {{ product.description }}
                </div>
            </div>

            <div class="row">
                <div class="menu-titles"><h3 class="">Ingredients</h3></div>
                <div>
                    {{ product.ingredients }}
                </div>
            </div>
        </div>


        <div id="chefs" class="parallax pricing">
            <div class="container inner">

            <h2 class="section-title text-center">Pick size</h2>

            <div>
            {% for size in sizes %}
                {% if forloop.counter|divisibleby:"3" %}
                    </div>
                    <div class="row">
                {% endif %}
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info btn-lg show_modal" id={{ size.id }}  style="width: 100%">
                        <div class="col-wrapper">
                            <span style="visibility: hidden">{{ size.id }}</span>
                            <h3>{{ size.name }}</h3>
                            <p>Price: {{ size.price }}€</p>
                        </div>
                    </button>
                </div>
            {% endfor %}

            </div>
        </div>
        <!-- /.container -->
    </div><!-- /#chefs -->


    <!-- Modal -->
<div id="confirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Set amount</h4>
      </div>
        <center>
            <h3 id="modalProductName"></h3>
            <form action="/add_to_basket/" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <input id="size_id" type="hidden" name="size_id" >
                    <label for="quantity">Quantity:</label>
                    <input id="quantity" name="quantity" type="number" class="form-control" id="usr" value="1" style="width: 50%">
                    <br />
                    <label for="additional_info">Additional info</label>
                    <textarea class="form-control" rows="5" id="additional_info"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Confirm</button>
                </div>
            </form>
            </center>
    </div>

  </div>
</div>

<script src="{% static 'order/js/jquery-2.1.3.min.js' %}"> </script>
<script>
    // todo show info about the product, add field to change quantity, multipy quantity by price
    $('.show_modal').click(function() {
        // do magic function
        $('#size_id').val(($(this).find(">:first-child").children()[0].innerHTML))

        $('#modalProductName').text($('#prodName').text() + " " + ($(this).find(">:first-child").children()[1].innerHTML))
        console.log($('#size_id').val())
        $('#confirmModal').modal({
            show: true
        });
    });
</script>


{% endblock content %}