{% extends 'order/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div id="food-menu" class="light-wrapper" xmlns="http://www.w3.org/1999/html">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Thank you for making order</h2>

            <center>
                <h1></h1>
                <h3>We started preparing your order at {{ time }}</h3>
                <h3>Waiting time is approx. 15 min</h3>
                <form action="/add_more/" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">Add something more to order</button>
                </form>
                <form action="/skip_waiting/" method="post">
                    <button type="submit" class="btn btn-error">Skip waiting (test-mode)</button>
                </form>
            </center>
        <!-- /.container -->
        <section class="ss-style-bottom"></section>
    </div><!--/#food-menu-->
{% endblock content %}