{% extends 'order/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div id="food-menu" class="light-wrapper" xmlns="http://www.w3.org/1999/html">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Menu</h2>
            <div>
            {% for group in product_groups %}
                {% if forloop.counter|divisibleby:"4" %}
                    </div>
                    <div class="row">
                {% endif %}
                <div class="col-sm-3 col-md-3">
                    <form action="/product_list/" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="group_id" value={{ group.pk }} />
                            <div class="menu-titles menu-titles-minus"><h1 class="">{{ group.name }}</h1></div>
                        </input>
                            <input id="product_image_input" type="image" src={{ group.get_image_path }}   alt={{ group.name }} />
                    </form>
                </div>
        {% endfor %}
        </div>
        <!-- /.container -->
        <section class="ss-style-bottom"></section>
    </div><!--/#food-menu-->

    <div id="special-offser" class="parallax pricing">
        <div class="container inner">

            <h2 class="section-title text-center">Special Offers</h2>
            <p class="lead main text-center">There is no sincerer love than the love of food!</p>

            <div class="row">
                <div class="clearfix visible-md"></div>
                <div class="col-md-6 col-sm-6">

                    <div class="pricing-item">

                        <form action="/product_list/" method="post">
                            <input type="hidden" id="group_id" name="group_id" value="7"/>
                            <input type="image" src={% static 'order/img/dish/promo2.jpg' %} />
                        </form>

                        <div class="pricing-item-details">
                            <h3>Pizza promo!</h3>
                            <p>Only today, all pizzas is 10% cheaper!</p>
                            <div class="clearfix"></div>
                        </div>
                        <!--price tag-->
                        <span class="hot-tag br-green">-10%</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">

                    <div class="pricing-item">
                        <form action="/product_list/" method="post">
                            <input type="hidden" id="group_id" name="group_id" value="2"/>
                            <input type="image" src={% static 'order/img/dish/promo1.jpg' %} />
                        </form>

                        <div class="pricing-item-details">

                            <h3>Craft beers</h3>
                            <p>Try our new, fresh brewed beers</p>
                            <div class="clearfix"></div>
                        </div>
                        <!--price tag-->
                        <span class="hot-tag br-red">new</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div><!-- /#special-offser -->
{% endblock content %}
