{% extends 'order/base.html' %}

{% block content %}
{% load static from staticfiles %}

    <script src="{% static 'order/js/jquery-2.1.3.min.js' %}"> </script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1026230490856139',
          xfbml      : true,
          version    : 'v2.8'
        });
      };
    </script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1026230490856139";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    if (response.status === 'connected') {
        FB.api('/me', function(response) {
            $.ajax({
                type: 'POST',
                url: '/set_user_name/',
                data: {
                    user_name: response.name,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    document.location.href = '/food_menu/';
                },
                error: function (data) {
                    alert("it didnt work");
                }
            });
    });
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{1026230490856139}',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

    pizda = function () {
        $('#loginAsGuest').modal('show');
    }

</script>

    <div id="header">
        <div class="bg-overlay"></div>
        <div class="center text-center">
            <div class="banner">
                <h1 class="">Orderest</h1>
            </div>
            <div class="subtitle"><h4>Hi! I'm your virtual waiter!</h4></div>
            <div class="subtitle">
                <span class="fb-login-button"
                     data-max-rows="2"
                     data-size="large"
                     data-show-faces="false"
                     data-auto-logout-link="true">
                </span>
                <span>
                    <br /> <br />
                    <button type="button" class="btn btn-info btn-lg" id="loginAsGuestButton" onclick="pizda()">Continue as guest</button>
                     <!-- Modal -->
                <div id="loginAsGuest" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Enter your name</h4>
                      </div>
                      <div class="modal-body">
                        <form action="/set_guest_name/" method="post">
                            <input type="text" placeholder="name" name="user_name" style="color: #000000"/>

                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-warning">OK</button>
                      </div>
                        </form>
                    </div>

                  </div>
                </div>
                </span>
            </div>
        </div>

        <div class="bottom text-center">
            <a id="scrollDownArrow" href="#"><i class="fa fa-chevron-down"></i></a>
        </div>
    </div>
    <!-- /#header -->

    <div id="story" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">What is Orderest?</h2>

            <div class="col-sm-12">
                <p class="lead main text-center">
                Orderest is a system, which makes you able to order your food using your smathphone! Just login via
                facebook or continue as a guest, compose your order and wait for your meal to be delivered directly to your table! :) <br />
                Bon apetit! :)
                </p>
            </div>
            <!-- /.services -->
        </div>
        <!-- /.container -->
        <section class="ss-style-bottom"></section>
    </div><!-- #story -->

{% endblock content %}