{% extends 'order/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <script src="{% static 'order/js/jquery-2.1.3.min.js' %}" xmlns="http://www.w3.org/1999/html"> </script>
    <script>
        openModal = function () {
            $('#waiterModal').modal('show');
        }
        openInternetModal = function () {
            $('#internetModal').modal('show');
        }
    </script>

    <div id="food-menu" class="light-wrapper" xmlns="http://www.w3.org/1999/html">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Payment</h2>
            <center><h3>Sum to pay: {{ price }} &euro;</h3></center>
        </div>

        <div class="row text-center chefs" style="margin-top:-80px !important; padding-bottom: 100px">
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <button type="button" class="btn btn-warning" style="width: 80%" onclick="openModal()">Pay with money</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <button type="button" class="btn btn-warning" style="width: 80%" onclick="openModal()">Pay with a card</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-wrapper">
                    <button type="button" class="btn btn-warning" style="width: 80%" onclick="openInternetModal()">Pay via internet</button>
                </div>
            </div>
        </div>

        <div id="waiterModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                          <div class="modal-header">
                              <form action="/summary/" method="post">
                                  <button type="submit" class="close" data-dismiss="modal">&times;</button>
                                </form>
                                <h3 class="modal-title">Wait for a waiter</h3>
                          </div>
                          <div class="modal-body">
                                <h4>Waiter is coming to you with your receipt</h4>
                          </div>
                          <div class="modal-footer">
                                <form action="/summary/" method="post">
                                  <button type="submit" class="btn btn-warning">OK</button>
                                </form>
                          </div>
                    </div>
              </div>
        </div>

        <div id="internetModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                          <div class="modal-header">
                                <form action="/summary/" method="post">
                                  <button type="submit" class="close" data-dismiss="modal">&times;</button>
                                </form>
                                <h3 class="modal-title">Redirection</h3>
                          </div>
                          <div class="modal-body">
                                <h4>You should be redirected to payment website now</h4>
                          </div>
                          <div class="modal-footer">
                              <form action="/summary/" method="post">
                                  <button type="submit" class="btn btn-warning">OK</button>
                              </form>
                          </div>
                    </div>
              </div>
        </div>
    </div>


{% endblock content %}