{% extends 'order/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div id="food-menu" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">{{ group_name }} </h2>

            <div>
            {% for product in products_list %}
                {% if forloop.counter|divisibleby:"4" %}
                    </div>
                    <div class="row">
                {% endif %}
                <div class="col-sm-3 col-md-3">
                    <form action="/choose_product/" method="post">
                        {% csrf_token %}
                        <input type="hidden"  name="product_id" value={{ product.pk }} />
                        <div class="menu-images ">
                        </div>
                        <div class="menu-titles menu-titles-minus">
                        <h1 class="">{{ product.name }}</h1></div>
                        <input id="product_image_input" type="image" src={{ product.get_image_path }}   alt={{ product.name }} />
                    </form>
                </div>
            {% endfor %}
            </div>
        </div>
        <!-- /.container -->
        <section class="ss-style-bottom"></section>
    </div><!--/#food-menu-->
{% endblock content %}
