{% extends 'order/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div id="food-menu" class="light-wrapper" xmlns="http://www.w3.org/1999/html">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Thank you {{ name }} for using Orderest!</h2>
            <center><h3>It was a pleasure to service you :)</h3></center>
            <h4>Would you like to share some opinion?</h4>
            <label for="opinion_text">Opinion:</label>
            <textarea class="form-control" rows="5" id="opinion_text"></textarea>
            <br />
            <label for="Message">How did you like ordering with Orderest (5 - Awesome, 1 - Awful):</label>
            <div class="radio" id="opinion_rating">
                <label><input type="radio" name="optradio">1</label>
                <label><input type="radio" name="optradio">2</label>
                <label><input type="radio" name="optradio">3</label>
                <label><input type="radio" name="optradio">4</label>
                <label><input type="radio" name="optradio">5</label>
            </div>
            <button class="btn btn-warning" data-toggle="modal" data-target="#summaryPopup">OK</button>
            <!-- /.container -->
        <section class="ss-style-bottom"></section>

        <div id="summaryPopup" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Summary</h4>
                  </div>
                  <div class="modal-body">
                      <h3>Thank you for using Orderest and sharing your opinion!</h3>
                      <h4>See you next time!</h4>
                  </div>
                  <div class="modal-footer">
                      <form action="/food_menu/" method="post">
                        <button type="submit" class="btn btn-warning">OK</button>
                      </form>
                  </div>

                </div>

              </div>
            </div>

    </div><!--/#food-menu-->
{% endblock content %}